torch
transformers==4.47.1
datasets
accelerate
peft
hydra-core
omegaconf
sentencepiece
scikit-learn
higher
einops
gpustat
pandas
matplotlib
nltk
rouge
pyarrow
sentence-transformers
timm
iopath
opencv-python
fairscale
av
qwen-vl-utils
zhipuai
openai
pillow
